{{yield}}
<div class="frost-info-bar">
  <div class="title">
    {{#yield-slot 'info-bar'}}
      {{yield (block-params this)}}
    {{/yield-slot}}
  </div>
  <div class="top-buttons" background-color='red'>
    {{#yield-slot 'app-actions'}}
      {{yield (block-params (action 'onCreate'))}}
    {{/yield-slot}}
  </div>
</div>
<div class="body">
  {{#yield-slot 'filters'}}
    {{yield (block-params filters onFilter)}}
  {{/yield-slot}}
  <div class="content">
    <div class="tools">
      <div class="sort"/>
      <div class="pagination">
        {{frost-object-browser-paginator
          itemsPerPage=itemsPerPage
          onPageChanged=(action 'onPageChanged')
          page=computedPageNumber
          total=computedValuesTotal
        }}
      </div>
      <div class="detail">
        <span class="text">
          <!-- TODO: make this a variable to support i18n better -->
          View:
        </span>
        {{#yield-slot 'view-controls'}}
          {{yield (block-params this viewSchema (action 'onDetailChange'))}}
        {{/yield-slot}}
      </div>
    </div>
    {{#frost-list onSelect=(action 'onSelect') selections=selectedItems records=computedValues as |record|}}
      {{#frost-object-browser-list-item model=record as |value|}}
        {{frost-bunsen-detail
          model=model
          renderers=renderers
          value=value
          view=computedViewLevel
        }}
      {{/frost-object-browser-list-item}}
    {{/frost-list}}
    <div class="actions">
      {{#yield-slot 'row-actions'}}
        {{yield 'actions'}}
      {{/yield-slot}}
    </div>
  </div>
</div>
