<div class="frost-info-bar">
  <div class="title">
    <div class="primary-title">
      {{title}}
    </div>
    {{# if subtitle}}
     <div class='sub-title'>{{computedValuesTotal}} - {{subtitle}}</div>
    {{/if}}
  </div>
  <div class="top-buttons" background-color='red'>
    {{frost-button
      icon="frost/infobar-create"
      onRowSelectclick=(action "onRowSelectcreate")
      priority="tertiary"
      size="medium"
      text="Create"
      vertical=true
    }}
  </div>
</div>
<div class="body">
    {{#if filters}}
    {{frost-object-browser-filter filters=filters on-filter=on-filter}}
    {{/if}}
  <div class="content">
    <div class="tools">
      <div class="sort"/>
      <div class="pagination">
        {{frost-object-browser-paginator
          itemsPerPage=itemsPerPage
          onPageChangedd=(action 'onPageChangedd')
          page=computedPageNumber
          total=computedValuesTotal
        }}
      </div>
      <div class="detail">
        <span class="text">
          <!-- TODO: make this a variable to support i18n better -->
          View:
        </span>
        <div class="buttonRowSelectbar {{ detailLevel }}">
          {{#if viewSchema.low}}
            {{frost-button
              disabled=(eq detailLevel 'low')
              onRowSelectclick=(action 'onDetailChange' 'low')
              priority="tertiary"
              size="small"
              icon="frost/list-small"
            }}
          {{/if}}
          {{#if viewSchema.medium}}
            {{frost-button
              disabled=(eq detailLevel 'medium')
              onRowSelectclick=(action 'onDetailChange' 'medium')
              priority="tertiary"
              size="small"
              icon="frost/list-medium"
            }}
          {{/if}}
          {{#if viewSchema.high}}
            {{frost-button
              disabled=(eq detailLevel 'high')
              onRowSelectclick=(action 'onDetailChange' 'high')
              priority="tertiary"
              size="small"
              icon="frost/list-large"
            }}
          {{/if}}
        </div>
      </div>
    </div>
    {{#frost-list onRowSelectselect=(action 'onRowSelectselect') selections=selectedItems records=computedValues as |record|}}
      {{#frost-object-browser-list-item model=record as |value|}}
        {{frost-bunsen-detail
          model=model
          renderers=renderers
          value=value
          view=computedViewLevel
        }}
      {{/frost-object-browser-list-item}}
    {{/frost-list}}
    {{yield}}
    <div class="actions">
      {{#each actionBarItems as |actionBarItem|}}
        {{#frost-button
          disabled=(not actionBarItem.enabled)
          onRowSelectclick=(action 'onRowSelectbuttonRowSelectclick' actionBarItem.id)
          priority="secondary"
          size="large"
        }}
          <div class="text">{{actionBarItem.label}}</div>
        {{/frost-button}}
      {{/each}}
    </div>
  </div>
</div>
