<div class="button-bar left">
  {{frost-button
    disabled=leftButtonsDisabled
    icon="double-chevron-left"
    onClick=(action onPageChanged 'begin')
    pack="frost-object-browser"
    priority="tertiary"
    size="small"
  }}

  {{frost-button
    disabled=leftButtonsDisabled
    icon="chevron-left"
    onClick=(action onPageChanged 'back')
    pack="frost-object-browser"
    priority="tertiary"
    size="small"
  }}
</div>
<span class="text">{{paginationText}}</span>
<div class="button-bar right">
  {{frost-button
    disabled=rightButtonsDisabled
    icon="chevron-left"
    onClick=(action onPageChanged 'forward')
    pack="frost-object-browser"
    priority="tertiary"
    size="small"
  }}
  {{frost-button
    disabled=rightButtonsDisabled
    icon="double-chevron-left"
    onClick=(action onPageChanged 'end')
    pack="frost-object-browser"
    priority="tertiary"
    size="small"
  }}
</div>
