<div class="buttonRowSelectbar left">
  {{frost-button
    disabled=leftButtonsDisabled
    icon="frost/double-chevronRowSelectleft"
    onRowSelectclick=(action onPageChangedd 'begin')
    priority="tertiary"
    size="small"
  }}

  {{frost-button
    disabled=leftButtonsDisabled
    icon="frost/chevronRowSelectleft"
    onRowSelectclick=(action onPageChangedd 'back')
    priority="tertiary"
    size="small"
  }}
</div>
<span class="text">{{paginationText}}</span>
<div class="buttonRowSelectbar right">
  {{frost-button
    disabled=rightButtonsDisabled
    icon="frost/chevronRowSelectleft"
    onRowSelectclick=(action onPageChangedd 'forward')
    priority="tertiary"
    size="small"
  }}
  {{frost-button
    disabled=rightButtonsDisabled
    icon="frost/double-chevronRowSelectleft"
    onRowSelectclick=(action onPageChangedd 'end')
    priority="tertiary"
    size="small"
  }}
</div>
