{{yield}}

{{#yield-slot 'info-bar'}}
  {{yield}}
{{/yield-slot}}

<div class='frost-object-browser-body'>
  {{#yield-slot 'facets'}}
    <div class='frost-object-browser-facets'>
      {{yield}}
    </div>
  {{/yield-slot}}

  <div class='frost-object-browser-content'>
    {{#yield-slot 'view' (block-params
      (action 'onSelect')
      selections
    )}}
      {{yield}}
    {{/yield-slot}}

    {{#yield-slot 'actions' (block-params
      (hash
        button=(component 'selection-action-button'
          selections=selections
          size='large'
        )
        link=(component 'selection-action-link'
          selections=selections
          size='large'
        )
      )
      selections
    )}}
      <div class='frost-object-browser-actions'>
        <div class="items-selected"> {{selections.length}} items selected</div>
        {{yield}}
      </div>
    {{/yield-slot}}
  </div>
</div>
