{{#if config}}
    <div class="frost-object-browser-facets">
      {{component 'frost-bunsen-form'
      autofocus=false
      bunsenModel=config.facetsConfig.bunsenModel
      bunsenView=config.facetsConfig.bunsenView
      onChange=config.onFilterFormChange
      value=config.facetsConfig.value
      }}
    </div>

    <div class="frost-object-browser-content">
      {{frost-list
      config=config.listMixinConfig
      }}
        <div class="frost-object-browser-actions">
          {{#each config.controlsConfig as |control|}}
            {{#if (eq control.component 'frost-button')}}
              {{component control.component
              design=control.design
              disabled=(disable-helper control.options.multiSelect config.selectedItemsCount control.options.disableControl selectedItems)
              icon=control.icon
              priority=(or control.priority 'secondary')
              size=(or control.size 'medium')
              text=control.text
              onClick=(action control.action selectedItems)
              }}
            {{else if (eq control.component 'frost-link')}}
              {{#if (eq control.model)}}
                {{component control.component control.text control.link control.linkModel
                disabled=(disable-helper control.options.multiSelect config.selectedItemsCount control.options.disableControl selectedItems)
                icon=control.icon
                priority=control.priority
                size=control.size
                tabindex=control.tabindex
                onClick=(action control.action selectedItems)
                }}
              {{else}}
                {{component control.component control.text control.link
                disabled=(disable-helper control.options.multiSelect config.selectedItemsCount control.options.disableControl selectedItems)
                icon=control.icon
                priority=control.priority
                size=control.size
                tabindex=control.tabindex
                onClick=(action control.action selectedItems)
                }}
              {{/if}}
            {{/if}}
          {{/each}}
        </div>
    </div>

{{else}}
    <div class="frost-object-browser-facets">
        <div class="frost-object-browser-facets-header">Refined by</div>
      {{component facets}}
    </div>
    <div class="frost-object-browser-content">
      {{component content
      items=_items
      }}
        <div class="frost-object-browser-actions">
          {{#each controls as |control|}}
            {{component control}}
          {{/each}}
        </div>
    </div>
{{/if}}