<div class="button-bar left">
  {{frost-button
    disabled=leftButtonsDisabled
    icon="frost/double-chevron-left"
    on-click=(action on-page-changed 'begin')
    priority="tertiary"
    size="small"
  }}

  {{frost-button
    disabled=leftButtonsDisabled
    icon="frost/chevron-left"
    on-click=(action on-page-changed 'back')
    priority="tertiary"
    size="small"
  }}
</div>
<span class="text">{{paginationText}}</span>
<div class="button-bar right">
  {{frost-button
    disabled=rightButtonsDisabled
    icon="frost/chevron-left"
    on-click=(action on-page-changed 'forward')
    priority="tertiary"
    size="small"
  }}
  {{frost-button
    disabled=rightButtonsDisabled
    icon="frost/double-chevron-left"
    on-click=(action on-page-changed 'end')
    priority="tertiary"
    size="small"
  }}
</div>
