<p>Refine by</p>
{{#each filters as |filterData index|}}
<div class='filter-header'>
  <div onclick={{action 'toggle-hidden' index}} class='down-arrow {{if filterData.showing '' 'collapsed'}}'>
    <svg viewBox="0 0 15 15">
      <polygon points="7.5,11.4 1.1,5 2.5,3.6 7.5,8.6 12.5,3.6 13.9,5 "></polygon>
    </svg>
  </div>
  <div class="alias">{{filterData.label}}</div>
  {{#if filterData.clearable}}
  {{#frost-button
    onClick=(action "clear-filter" filterData.name)
    priority="tertiary"
    size="small"
  }}
    Clear
  {{/frost-button}}
  {{/if}}
</div>
<div class="{{if filterData.showing '' 'no-display'}}">
{{#if (eq filterData.type 'select')}}
{{frost-select
  data=filterData.data
  onChange=(action 'filter-change' filterData.name)
  selectedValue=filterData.selectedValue
}}
{{/if}}
</div>
{{/each}}
